
<section class="container-choose choose-section">
    <div class=" ">
        <svg class="choose-wallpapier" width="335" height="363"> 
                     
        </svg>
        <div class="text-choose-all">
            <h2 class="visually-hidden">Choose your story</h2>
            <p class="text-section-choose">Choose <span class="text-your-story">your story</span>, making every moment unique. Time is your style, and we reveal it.</p>
            <a href="#contact-us">
                <button class="button-st-choose">Contact Us</button>
            </a>
        </div>
    </div>
</section>